<ul>
  <li>First name: {{firstName}}</li>
  <li>Last name: {{lastName}}</li>
  <li>
    {{#if-block-used 'age' as |block|}}
      {{yield block}}
    {{else}}
      Default for age
    {{/if-block-used}}

    {{#if-block-used 'extra' as |block|}}
      {{yield block}}
    {{else}}
      Default for extra
    {{/if-block-used}}
  </li>
</ul>